<form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6OZa7PuSBCcuMWJiVWhbp5PO"
    data-amount="999"
    data-name="Billing"
    data-description="ONE"
    data-image="https://secure.gravatar.com/avatar/f7f970718ab31817adc3b4def437e18b?s=81&d=mm&r=g"
    data-locale="auto"
    data-zip-code="false"
    data-currency="usd">
  </script>
</form>